In [10]:
#to print "hi there. this is my first task."
print("hi there. this is my first task.")

hi there. this is my first task.

In [ ]:
#defining a variable in python
a = 10

In [ ]:
# Different data types in python
#Strings
#Numbers
#Booleans
#Python List
#Python Tuples
#Python Sets
#Python Dictionary and etc.

In [9]:
#to display the value of a static variable
a = 10
print(a)

10

In [19]:
# to print integer value
num = -8
print (num)
# print the data type 
print(type(num))

-8
<class 'int'>

In [20]:
# to print float value
num = 3/4
print(num)
# print the data type
print(type(num))

0.75
<class 'float'>

In [22]:
# to print complex numbers
num = 6 + 9j
print (num)
# print the data type
print(type(num))

(6+9j)
<class 'complex'>

In [ ]:
# Creating Strings in python

In [33]:
# Creating a String with single Quotes
String1 = 'hello world'
print("String with the use of Single Quotes: ")
print(String1)

String with the use of Single Quotes:
hello world

In [34]:
# Creating a String with double Quotes
String1 = "I'm a student"
print("\nString with the use of Double Quotes: ")
print(String1)

String with the use of Double Quotes:
I'm a student

In [35]:
# Creating a String with triple Quotes
String1 = '''I'm a beginner'''
print("\nString with the use of Triple Quotes: ")
print(String1)

String with the use of Triple Quotes:
I'm a beginner

In [36]:
# Creating String with triple quotes allows multiple lines
String1 = '''hello
           python
            world'''
print("\nCreating a multiline String: ")
print(String1)

Creating a multiline String:
hello
           python
            world

In [ ]:
#boolean value in python

In [23]:
a = True
type(a) 

b = False
type(b)

bool

In [24]:
# example :
# Returns False as x is not equal to y 
x = 5
y = 10
print(bool(x==y))

False

In [28]:
# Dictionaries in python
#syntax :- dict_var = {key1 : value1, key2 : value2, …..}

In [32]:
# example:
Dict = {1: 'hello', 2: 'python', 3: 'world'}
print(Dict)

{1: 'hello', 2: 'python', 3: 'world'}

In [31]:
# Lists in python
#syntax:- list_var=["val1","val2","val3" …]

#example:
Var = ["hello", "python", "world"]
print(Var)

['hello', 'python', 'world']

In [ ]:
# Tuples in pyhton

In [39]:
# Creating an empty Tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)

Initial empty Tuple:
()

In [40]:
# Creating a Tuple with the use of string
Tuple1 = ('hi', 'puneet')
print("\nTuple with the use of String: ")
print(Tuple1)

Tuple with the use of String:
('hi', 'puneet')

In [41]:
# Creating a Tuple with the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

Tuple using List:
(1, 2, 4, 5, 6)

In [42]:
# Creating a Tuple with the use of built-in function
Tuple1 = tuple('ps')
print("\nTuple with the use of function: ")
print(Tuple1)

Tuple with the use of function:
('p', 's')

In [ ]:
# Sets in python

In [43]:
# Creating a Set
set1 = set()
print("Initial blank Set: ")
print(set1)

Initial blank Set:
set()

In [44]:
# Creating a Set with the use of a String
set1 = set("helloworld")
print("\nSet with the use of String: ")
print(set1)

Set with the use of String:
{'d', 'r', 'o', 'l', 'h', 'w', 'e'}

In [45]:
# Creating a set with use of an Object
String = 'helloworld'
set1 = set(String)
print("\nSet with the use of an Object: ")
print(set1)

Set with the use of an Object:
{'d', 'r', 'o', 'l', 'h', 'w', 'e'}

In [47]:
# Creating a Set with the use of a List
set1 = set(["hello", "python", "world"])
print("\nSet with the use of List: ")
print(set1)

Set with the use of List:
{'python', 'world', 'hello'}

In [52]:
# Creating a Set with the use of a tuple
t = ("hello", "python", "world")
print("\nSet with the use of Tuple: ")
print(set(t))

Set with the use of Tuple:
{'python', 'world', 'hello'}

In [53]:
# Creating a Set with the use of a dictionary
d = {"hello": 1, "python": 2, "world": 3}
print("\nSet with the use of Dictionary: ")
print(set(d))

Set with the use of Dictionary:
{'python', 'world', 'hello'}

In [ ]:
# Arithmetic operations in python
#addition
#subtraction
#multiplication
#division
#floor division
#modulus
#exponent

In [54]:
val1 = 2
val2 = 3

# using the addition operator
res = val1 + val2
print(res)

5

In [55]:
val1 = 2
val2 = 3

# using the subtraction operator
res = val1 - val2
print(res)

-1

In [56]:
val1 = 2
val2 = 3

# using the multiplication operator
res = val1 * val2
print(res)

6

In [57]:
val1 = 3
val2 = 2

# using the division operator
res = val1 / val2
print(res)

1.5

In [58]:
val1 = 3
val2 = 2

# using the floor division
res = val1 // val2
print(res)

1

In [59]:
val1 = 3
val2 = 2

# using the modulus operator
res = val1 % val2
print(res)

1

In [60]:
val1 = 2
val2 = 3

# using the exponentiation operator
res = val1 ** val2
print(res)

8

In [ ]:
#conditional statements in python
#if
#if else
#if..else chain
#if elif
#ternary

In [61]:
# if statement example 
if 10 > 5: 
	print("10 greater than 5") 

print("Program ended")

10 greater than 5
Program ended

In [62]:
# if..else statement example 
x = 3
if x == 4: 
	print("Yes") 
else: 
	print("No")

No

In [63]:
# if..else chain statement 
letter = "A"

if letter == "B": 
	print("letter is B") 

else: 

	if letter == "C": 
		print("letter is C") 

	else: 

		if letter == "A": 
			print("letter is A") 

		else: 
			print("letter isn't A, B and C")

letter is A

In [64]:
# if-elif statement example 
letter = "A"

if letter == "B": 
	print("letter is B") 

elif letter == "C": 
	print("letter is C") 

elif letter == "A": 
	print("letter is A") 

else: 
	print("letter isn't A, B or C")

letter is A

In [65]:
# Python program to demonstrate nested ternary operator 
a, b = 10, 20

print ("Both a and b are equal" if a == b else "a is greater than b"
		if a > b else "b is greater than a")

b is greater than a

In [ ]:
# String manipulation in python
# len()
# slicing
# reverse()
# string to int conversion

In [66]:
string = "puneetsharma"
print(len(string))

12

In [67]:
string = "puneetsharma"
# Using indexing sequence
print(String[1:5:2])

el

In [68]:
def reverse(s):
	str = ""
	for i in s:
		str = i + str
	return str

s = "puneetsharma"

print("The original string is : ", end="")
print(s)

print("The reversed string(using loops) is : ", end="")
print(reverse(s))

The original string is : puneetsharma
The reversed string(using loops) is : amrahsteenup

In [69]:
# Initialising a string with decimal value 
string = "100"
# Show the Data type 
print(type(string)) 
# Converting string into int 
string_to_int = int(string) 
# Show the Data type 
print(type(string_to_int))

<class 'str'>
<class 'int'>